body {
    background: #111;
}

canvas {
    border: 4px solid #fff;
    border-bottom: transparent; 
    background: url(https://raw.githubusercontent.com/midudev/javascript-100-proyectos/main/02-arkanoid-game/bkg.png) repeat;
    margin: 0 auto;
    display: block;
}; 

#score-value {
    color: #fff;
}