* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
--tw-text-opacity:1;
}

body {
  background: #21212121;
  font-family: 'Roboto', sans-serif;
}

.perfil {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.color-black {
width: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #1f1f1f;
}

.color-black h2 {
color: #f69100;
margin-bottom: 10px;
}

.color-black p {
color: #f5f2f2;
}

.color-orange {
width: 100%;
min-height: 100vh;
background: #f69100;
}

.image {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
z-index: 10;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.image img {
width: 60%;
max-width: 450px;
margin-top: 10vh;
mask-image: linear-gradient(black 90%, transparent);
}

.perfil .links {
display: flex;
margin-top: 50px;
font-size: 1.8em;
position: relative;
z-index: -99999px;
flex-wrap: wrap;
justify-content: center;
}

.image .links {
  margin-top: 10%;
  margin-left: -15%;
}

.links a {
margin-top: 10px;
margin-right: 20px;
color: #f69111;
transition: all .5s ease-in-out;
}

.links a:hover {
color: #f5b482;
}

.about-me {
display: flex;
justify-content: center;
align-items: center;
background: #2c2b2b;
min-height: 100vh;
flex-direction: column;

& h2 {
  font-size: 1.5rem;
  margin-left: -30px;
 
}
}

.parra {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 50px;
}

.parra p {
width: 80%;
max-width: 350px;
margin: 20px;
text-align: start;
}

.about-me-image {
display: flex;
justify-content: center;
align-items: center;



}

.about-me-image img {
width: 70%;
max-width: 300px;
border-radius: 20px;
box-shadow: 0 4px 30px rgba(246, 145, 0, 0.5);
margin-bottom: 30px;
}

.proyects {
width: 100%;
min-height: 100vh;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background: #616060;
}

.proyects .title {
position: absolute;
margin-top: -65%;
left: -100px;
border-right: solid 1px #1f1f1f;
}

.proyects div {
width: 80%;
max-width: 300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-decoration: none;
color: #f5f2f2;
margin: 15px;
}

.proyects div > img {
width: 100%;
max-width: 200px;
border-radius: 20px;
margin-top: 20px;
}

.proyects div > img:hover {
outline: 250px;
}

.proyects a {
margin-top: 20px;
color: #111827;
font-size: 1.5em;
}

.proyects a:hover {
color: aqua;
transition: all .3s ease-in-out;
}

.proyects p {
margin: 20px;
}

.proyects div > ul {
display: flex;
margin: 20px;
color: #09194d;
flex-wrap: wrap;
}

.proyects div > ul > li {
margin-left: 10px;
border: solid 1px;
border-radius: 20px;
padding: 4px;
background: rgb(75 85 99 / var(--tw-text-opacity));
}

.proyects .enlace {
font-size: 25px;
}

.contact {
width: 100%;
background: #616060;
display: flex;
justify-content: end;
}

.contact a {
color: #f69100;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
font-size: 20px;
}

.contact a > i {
margin-right: 5px;
}

/* Media Queries */
@media (max-width: 768px) {

.image img {
  width: 70%;
  position: absolute;
  margin-top: -80%;
}
.links  a {
  margin-top: 90%;
}
.color-orange {
  display: none;
}

.parra p {
  width: 90%;
}

.parra button {
  width: 80%;
  font-size: 14px;
}

.proyects h3 {
  font-size: 1.5rem;
  position: absolute;
  margin-top: -700px;
  margin-left: 25px;
}

.proyects div {
  width: 90%;
  margin: 15px 0;
}

.proyects a {
  font-size: 1.2em;
}

.links a {
  font-size: 1.2em;
}
}

@media (max-width: 480px) {
.image img {
  width: 70%;
  position: absolute;
  margin-top: -100%;
}
.links  a {
  margin-top: 90%;
}
.color-orange {
  display: none;
}
.parra h2 {
  margin-top: 10%;
  margin-left: -10%;
}
.parra p {
  width: 90%;
}

.proyects div {
  width: 100%;
}

.proyects h3 {
  font-size: 1.5rem;
  position: absolute;
  margin-top: -1700px;
  margin-left: 25px;
}

.parra button {
  width: 70%;
}

.proyects a {
  font-size: 1.1em;
}

.contact {
  padding: 20px;
  font-size: 1rem;
}

.contact a {
  font-size: 1.2em;
}
}