:root {
  color-scheme: light dark;
  --green: #00b755;
  --yelow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body{ 
  font-family: monospace, -apple-system, menlo, sans-serif;
  background: var(--black);
  display: grid;
  place-content: center;
  padding: 32px;
}


section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}


time {
  color: var(--yelow);
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

p{
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}


x-letter {
  color: var(--gray);
  position: relative;

  &.active::before {
    content: '|';
    color: var(--yelow);
    font-size: 15px;
    position: absolute;
    left: -70%;
    animation: .8s parpadeo  infinite ease-in-out;
    
  }

  &.active.is-last::before {
    left: 50%;
  }
  
  &.correct {
    color: var(--green);
  }
  
  &.incorrect {
    color: var(--red);
  }
}

x-word {
  border-bottom: 2px solid transparent; 
  transition: all .3s ease-in-out;

  &.marked {
    border-color: var(--red);
  }
}


@keyframes parpadeo {
  0%, 25% {
    opacity: 1;
  } 85% {
    opacity: 0;
  }
}


input {
  opacity: 0;
}



#game {
  display: block;
}


#results {
  display: none;
}





















